<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Reviews:</h1>
    <ul>
        <% allMovies.forEach(movie => { %>
        <li>
            <a href="/movies/<%= movie._id %>">
            <%= movie.title %> review by <%=movie.owner ? movie.owner.username : 'Unknown'%> - <%=movie.rating%>%
            </a>
        </li>
        <% }) %>
    </ul>
</body>
</html>